<!DOCTYPE HTML>

<html>
	<head>
		<title>WELCOME TO MY PORTFOLIO</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
		<link href="./static/clown_costume_party_carnival_icon_235243.ico" rel="icon">
		<noscript><link rel="stylesheet" href="./static/assets/css/noscript.css" /></noscript>
	</head>
	<body>
			<div id="wrapper">

						<!-- Contact -->
							<article id="contact">
								<h2 class="major">Contact</h2>
								<p>Thank you... I will definitely be in touch!!</p>
								<ul class="icons">
									<li><a href="hyylanda101@icloud.com" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="ampomahderrick9@gmail.com" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</article>





				<!-- Footer -->
					<footer id="footer">
						<p>SOMETHING SIMPLE BY DERRICK <3 </p>
					</footer>

</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>

	</body>
</html>
